article {
    display: grid;
    grid-template-columns: 1fr 740px 1fr;
}

article > * {
    grid-column: 2;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

html {
    height: auto !important;
    padding-bottom: 500px !important;
}

article > * {
    min-width: 0;
}

article > h1 {
    font-family: Lucida Grande;
    color: #BF592C;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 50px;
}

article > p, li {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

article > .aside {
    font-family: Lucida Grande;
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
}

img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}


figure {
    margin: 0;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}

.definition, .imgTitle{
  color: rgba(43, 69, 79);
  font-weight: bold;
}

.imgTitle{
  font-size: 21px;
  text-align: center;
  margin-bottom: 0;
}

.sectionTitle{
  color: rgba(43, 69, 79);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0;
}

body {
  background-color: #F3DECD;
}

.sources{
  color: #8EBFAB;
  font-weight: bold;
  font-size: 30px;
  /* text-align: center; */
  margin-bottom: 0;
  margin-top: 20px;
}

.line{
  margin: 0;
  height: 0;
  border-bottom-style: solid;
  border-width: 1px;
}

.footnote{
  vertical-align: super; /* 2 */
  font-size: 0.6em; /* 3 */
  margin-left: 2px; /* 4 */
  cursor: pointer; /* 5 */
  color: #69572E;
}

.learnMore {
  background-color: #8066F3;
  color: white;

  font-size: 0.7em;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.learnMore:hover, .learnMore:active {
  background-color: #8E92BF;
  color:black;
}

.learnMore > .discription {
  display: none;
}

.learnMore:hover > .discription {
  display: inLine;
}

.learnMore > .lm {
  display: inline;
}

.learnMore:hover > .lm {
  display: none;
}
